---
import Phone from "@icons/Phone.astro";
---

<footer class="p-5">
  <div class="max-w-6xl mx-auto w-full flex items-center justify-between">
    <h6 class="text-white text-sm">Christopher Romero</h6>
    <a href="https://wa.me/51952322157" target="_blank" rel="noopener noreferrer" class="flex items-center gap-1">
      <Phone class="text-white size-6" />
      <span class="text-white text-lg">+51 952322157</span>
    </a>
  </div>
</footer>
